In [22]:
#importer les biblio
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import statsmodels as sm
import string
import re
import sys
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve, auc
from imblearn.metrics import classification_report_imbalanced
import datawig

In [19]:
# read in all our data
df = pd.read_csv("E:/gouvernance de donneees/2021/support de cours/dataset_titanic/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#obtenir le nombre de points de donn√©es manquants par colonne
missing_values_count = df.isnull().sum()
missing_values_count[0:20]

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
# supprimer toutes les lignes 
#contenant une valeur manquante
df.dropna(inplace=True)
print(df.isnull().sum())
print(df.shape)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
(183, 12)

In [13]:
df['Age'][:20]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

In [14]:
df['Age']=df['Age'].replace(np.NaN,df['Age'].mean())
print(df['Age'][:20])

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    29.699118
18    31.000000
19    29.699118
Name: Age, dtype: float64

In [15]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
# replace all NaN de colone Cabin par A
df['Cabin']=df['Cabin'].fillna('A')
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [21]:
df["Age"] = df["Age"].fillna(method='ffill')
print(df['Age'][:20])

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5     35.0
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     2.0
18    31.0
19    31.0
Name: Age, dtype: float64

In [23]:
df["Age"] = df["Age"].interpolate(method='linear', limit_direction='forward', axis=0)
print(df['Age'][:20])

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5     44.5
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17    16.5
18    31.0
19    33.0
Name: Age, dtype: float64

In [46]:
from sklearn.linear_model import LinearRegression
df = pd.read_csv("E:/gouvernance de donneees/2021/support de cours/dataset_titanic/train.csv")
df = df[["Survived", "Pclass", "Sex", "SibSp", "Parch", "Fare", "Age"]]

df["Sex"] = [1 if x=="male" else 0 for x in df["Sex"]]

test_df = df[df["Age"].isnull()]
df.dropna(inplace=True)

y_train = df["Age"]
y_test = test_df["Age"]
X_train = df.drop("Age", axis=1)
X_test = test_df.drop("Age", axis=1)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [37]:
df = pd.read_csv("E:/gouvernance de donneees/2021/support de cours/dataset_titanic/train.csv")
df = df[["Survived", "Pclass", "Sex", "SibSp", "Parch", "Fare", "Age"]]
df_train, df_test = datawig.utils.random_split(df, split_ratios=[0.8, 0.2])





#Initialize a SimpleImputer model
imputer = datawig.SimpleImputer(
    input_columns=['Pclass','SibSp','Parch'], # column(s) containing information about the column we want to impute
    output_column= 'Age', # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
    )

#Fit an imputer model on the train data
imputer.fit(train_df=df_train, num_epochs=60)

#Impute missing values and return original dataframe with predictions
predictions = imputer.predict(df_test)