In [30]:
# Load libraries
import numpy
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
import scikitplot as skplt
from sklearn import tree
import matplotlib.pyplot as plt
%matplotlib inline

np.random.seed(10)
import sklearn.ensemble
from sklearn.neighbors import NearestNeighbors
import sklearn.svm
import sklearn.tree


#for visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#Machine learning
import sklearn.metrics as metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split,cross_val_score, GridSearchCV
import warnings
warnings.filterwarnings('ignore')
# identify outliers with interquartile range
from numpy.random import seed
from numpy.random import randn
from numpy import percentile



from sklearn.linear_model import LinearRegression

In [31]:
cd C:/Users/ASUS/Desktop/Master/S2/Data_mining_2

C:\Users\ASUS\Desktop\Master\S2\Data_mining_2

In [32]:
# reading the data file
iris_df = pd.read_csv('database/bank2.csv',sep=';')
# print the first 5 rows of the data
iris_df.head()

,age,job,marital,education,default,housing,loan,contact,day,month,duration,campaign,previous,poutcome,y
0,30.0,unemployed,married,primary,no,no,no,cellular,19,oct,79,1,0,unknown,no
1,33.0,services,married,secondary,no,yes,yes,cellular,11,may,220,1,4,failure,no
2,35.0,management,single,tertiary,no,yes,no,cellular,16,apr,185,1,1,failure,no
3,30.0,management,married,tertiary,no,yes,yes,unknown,3,jun,199,4,0,unknown,no
4,59.0,blue-collar,married,secondary,no,yes,no,unknown,5,may,226,1,0,unknown,no

In [33]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4515 non-null   float64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4514 non-null   object
 4   default    4521 non-null   object
 5   housing    4521 non-null   object
 6   loan       4521 non-null   object
 7   contact    4521 non-null   object
 8   day        4521 non-null   int64
 9   month      4521 non-null   object
 10  duration   4521 non-null   int64
 11  campaign   4521 non-null   int64
 12  previous   4521 non-null   int64
 13  poutcome   4521 non-null   object
 14  y          4521 non-null   object
dtypes: float64(1), int64(4), object(10)
memory usage: 529.9+ KB

In [34]:
iris_df.isnull().sum()

age          6
job          0
marital      0
education    7
default      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
previous     0
poutcome     0
y            0
dtype: int64

# Q1

# Age

In [35]:
print('Missing: %d' %iris_df["age"].isnull().sum())
# seed the random number generator
seed(1)
# generate univariate observations
data = iris_df.iloc[:,0]
# calculate interquartile range
q25, q75 = percentile(data, 25), percentile(data, 75)
iqr = q75 - q25
print('Percentiles: 25th=%.3f, 75th=%.3f, IQR=%.3f' % (q25, q75, iqr))
# calculate the outlier cutoff
cut_off = iqr * 1.5
lower, upper = q25 - cut_off, q75 + cut_off
# identify outliers
outliers = [x for x in data if x < lower or x > upper]
print('Identified outliers(Mismatched): %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in data if x >= lower and x <= upper]
print('Non-outlier observations(valid): %d' % len(outliers_removed))
print('Unique: %d' %len(iris_df["age"].unique()))

Missing: 6
Percentiles: 25th=nan, 75th=nan, IQR=nan
Identified outliers(Mismatched): 0
Non-outlier observations(valid): 0
Unique: 68

# job

In [36]:
print('Missing: %d' %iris_df["job"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["job"]))
print('Unique: %d' %len(iris_df["job"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 12

# marital

In [41]:

iris_df.head()
print('Missing: %d' %iris_df["marital"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["marital"]))
print('Unique: %d' %len(iris_df["marital"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 4

# education

In [42]:
iris_df.head()
print('Missing: %d' %iris_df["education"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["education"]))
print('Unique: %d' %len(iris_df["education"].unique()))

Missing: 7
Mismatched: 0
valid: 4521
Unique: 5

# default

In [43]:
iris_df.head()
print('Missing: %d' %iris_df["default"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["default"]))
print('Unique: %d' %len(iris_df["default"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 2

# housing

In [44]:
iris_df.head()
print('Missing: %d' %iris_df["housing"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["housing"]))
print('Unique: %d' %len(iris_df["housing"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 2

# loan

In [45]:

print('Missing: %d' %iris_df["loan"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["loan"]))
print('Unique: %d' %len(iris_df["loan"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 2

# contact

In [46]:
print('Missing: %d' %iris_df["contact"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["contact"]))
print('Unique: %d' %len(iris_df["contact"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 3

# day

In [48]:
print('Missing: %d' %iris_df["day"].isnull().sum())
# seed the random number generator
seed(1)
# generate univariate observations
data = iris_df.iloc[:,8]
# calculate interquartile range
q25, q75 = percentile(data, 25), percentile(data, 75)
iqr = q75 - q25
print('Percentiles: 25th=%.3f, 75th=%.3f, IQR=%.3f' % (q25, q75, iqr))
# calculate the outlier cutoff
cut_off = iqr * 1.5
lower, upper = q25 - cut_off, q75 + cut_off
# identify outliers
outliers = [x for x in data if x < lower or x > upper]
print('Identified outliers(Mismatched): %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in data if x >= lower and x <= upper]
print('Non-outlier observations(valid): %d' % len(outliers_removed))
print('Unique: %d' %len(iris_df["day"].unique()))

Missing: 0
Percentiles: 25th=9.000, 75th=21.000, IQR=12.000
Identified outliers(Mismatched): 0
Non-outlier observations(valid): 4521
Unique: 31

# month

In [47]:
print('Missing: %d' %iris_df["month"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["month"]))
print('Unique: %d' %len(iris_df["month"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 12

# duration

In [49]:
print('Missing: %d' %iris_df["duration"].isnull().sum())
# seed the random number generator
seed(1)
# generate univariate observations
data = iris_df.iloc[:,10]
# calculate interquartile range
q25, q75 = percentile(data, 25), percentile(data, 75)
iqr = q75 - q25
print('Percentiles: 25th=%.3f, 75th=%.3f, IQR=%.3f' % (q25, q75, iqr))
# calculate the outlier cutoff
cut_off = iqr * 1.5
lower, upper = q25 - cut_off, q75 + cut_off
# identify outliers
outliers = [x for x in data if x < lower or x > upper]
print('Identified outliers(Mismatched): %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in data if x >= lower and x <= upper]
print('Non-outlier observations(valid): %d' % len(outliers_removed))
print('Unique: %d' %len(iris_df["duration"].unique()))

Missing: 0
Percentiles: 25th=104.000, 75th=329.000, IQR=225.000
Identified outliers(Mismatched): 330
Non-outlier observations(valid): 4191
Unique: 875

# campaign

In [50]:
print('Missing: %d' %iris_df["previous"].isnull().sum())
# seed the random number generator
seed(1)
# generate univariate observations
data = iris_df.iloc[:,11]
# calculate interquartile range
q25, q75 = percentile(data, 25), percentile(data, 75)
iqr = q75 - q25
print('Percentiles: 25th=%.3f, 75th=%.3f, IQR=%.3f' % (q25, q75, iqr))
# calculate the outlier cutoff
cut_off = iqr * 1.5
lower, upper = q25 - cut_off, q75 + cut_off
# identify outliers
outliers = [x for x in data if x < lower or x > upper]
print('Identified outliers(Mismatched): %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in data if x >= lower and x <= upper]
print('Non-outlier observations(valid): %d' % len(outliers_removed))
print('Unique: %d' %len(iris_df["previous"].unique()))

Missing: 0
Percentiles: 25th=1.000, 75th=3.000, IQR=2.000
Identified outliers(Mismatched): 318
Non-outlier observations(valid): 4203
Unique: 24

# previous

In [51]:
print('Missing: %d' %iris_df["previous"].isnull().sum())
# seed the random number generator
seed(1)
# generate univariate observations
data = iris_df.iloc[:,12]
# calculate interquartile range
q25, q75 = percentile(data, 25), percentile(data, 75)
iqr = q75 - q25
print('Percentiles: 25th=%.3f, 75th=%.3f, IQR=%.3f' % (q25, q75, iqr))
# calculate the outlier cutoff
cut_off = iqr * 1.5
lower, upper = q25 - cut_off, q75 + cut_off
# identify outliers
outliers = [x for x in data if x < lower or x > upper]
print('Identified outliers(Mismatched): %d' % len(outliers))
# remove outliers
outliers_removed = [x for x in data if x >= lower and x <= upper]
print('Non-outlier observations(valid): %d' % len(outliers_removed))
print('Unique: %d' %len(iris_df["previous"].unique()))

Missing: 0
Percentiles: 25th=0.000, 75th=0.000, IQR=0.000
Identified outliers(Mismatched): 816
Non-outlier observations(valid): 3705
Unique: 24

# poutcome

In [52]:
print('Missing: %d' %iris_df["poutcome"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["poutcome"]))
print('Unique: %d' %len(iris_df["poutcome"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 4

# y

In [55]:
print('Missing: %d' %iris_df["y"].isnull().sum())
print('Mismatched: 0')
print('valid: %d'% len(iris_df["y"]))
print('Unique: %d' %len(iris_df["y"].unique()))

Missing: 0
Mismatched: 0
valid: 4521
Unique: 2